* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color:white;
  height: 100vh;
  background-image: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  /* !Aqui abajo hay otra posiblidad de color de background */
  /* background-color:  #ffb703; */
  font-family: Helvetica, sans-serif;
  margin-top: 0px;
  
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  
}

h1 {
  color: #e63946;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 20px, 0;
  justify-content: center;

}

.tareas-principal {
  width: 600px;
  min-height: 700px;
  background-color: #edf2f4;
  padding: 25px;
  margin: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  
}


/* INPUT */
.input-tarea{
  width: 500px;
  height: 40px;
  border-radius: 26px;
  border: 1px solid #e63946;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #e63946;
  
}
